__pycache__/
.vscode/
imgui.ini
.DS_Store
pyproject.toml
/assets/cat1
/assets/cat2
/examples/ex_aux4
/examples/sprite_test
Tarea2/template.py
Tarea2/assets/back.jpg
Tarea2/assets/bird_body.png
Tarea2/assets/bird_wing.png
Tarea2/assets/pipe.png
Tarea2/librerias/drawables.py
Tarea2/librerias/scene_graph.py
Tarea2/librerias/shapes.py
Tarea2/librerias/textures.py
Tarea2/librerias/transformations.py
/Tarea3_vale
/Tarea3_andrews
/Tarea3
/examples/controltest
/examples/ex_aux8
/shaders
